{% extends 'learning/base.html' %}

{% block content %}
<h1 class="fifth-theme text-center">Edit Profile</h1>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <label class="fifth-theme">
            Login name - {{user.profile.user}}
        </label>
        <br><br>
        <div class="form-group">
            <label class="fifth-theme">Display name </label>
            {{form.username}}
        </div>
        <br>
        <div class="form-group">
            <label class="fifth-theme">Bio</label>
            {{form.bio}}
        </div>
        <button class="text-center">Update</button>
    </form>
</div>
{% endblock %}