:root{
    --primThemeColor: #3778c2;       /*#6daffe;*/
    --secThemeColor: #f8a300;
    --thirdThemeColor: black;
    --fourthThemeColor: black;
    --primPolandColor: red;
    --secPolandColor: white;
}

body{
    background-color: white;
}

.primary-theme{
    color: var(--primThemeColor);
}

/*li > a{
    color: magenta;
}*/

.primary-theme-background{
    background-color: var(--primThemeColor);
}

.secondary-theme, .card-title{
    color: var(--secThemeColor);
}

.card-title{
    margin-top: 8px;
    margin-bottom: 8px;
}

.third-theme, .card-body{
    color: var(--thirdThemeColor);
}

.fourth-theme{
    color: var(--fourthThemeColor);
}

.welcome{
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 0px;
}

hr.welcome{
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}

h1, h2, h3, h4, h5, h6{
    margin-bottom: 20px;
}

footer {
    background-color: var(--primThemeColor);
    border-top:5px solid white;
}

.login-register-btns{
    margin-left: .5%;
    margin-right: .5%;
}

/*.normal-text{
    color: aqua;
}*/

a{
    /*color: orange;*/
    text-decoration: none;
    color: var(--primThemeColor);
}

/* remove underline and capitalize first letter for links */
.capitalize-first-letter{
    text-transform: capitalize;
    /*text-decoration: none;*/
}

.guide-title{
    font-size: 20px;
}

.guide-top-text{
    color: var(--secThemeColor);
    font-weight: 600;
}

/*switched from margin to padding*/
@media screen and (min-width: 1400px) {
    .navbar {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/*
@media screen and (max-width: 1400px) {
    .margin-responsive{
        margin-left: 3%;
        margin-right: 3%;
    }
}
*/

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-img{
    height: 75px;
    width: 75px;;
}


#clickableAwesomeFont {
    cursor: pointer
}

.btn{
    background-color: white;
    color: orange;
    border: 2px solid white;
}

#btn-submit{
    background-color: var(--secThemeColor);
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 30px;
}

hr{
    margin: 0;
    margin-bottom: 20px;
    color: black;
}

hr.center1{
    width: 90%;
    margin: 10px auto;
}

.navbar {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: var(--primThemeColor);
    border-bottom:5px solid white;
}

.navbar-text{
    font-size: 40px;
    color: white; /*!important;*/
}

.navbar-languages-text{
    font-size: 30px;
    color: white;
}

.navbar-nav li:hover>ul.dropdown-menu{
    display: block;
}

.small-margin{
    margin-bottom: 20px;
}

.container{
    margin-bottom: 20px;
}

.img-home{
    width: 75px;
}

table{
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}
table td, table th {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 3px;
}


body.dark {
    background-color: #1a1a1a;
}

.dark{
    color: aqua;
}

.dark-primary-theme{
    color: white;
}

.dark-secondary-theme{
    color: var(--secThemeColor);
}

.dark-third-theme{
    color: white;
}

.dark-fourth-theme{
    color: white;
}

.dark-primary-theme-background{
    background-color: yellow;
}

.dark-secondary-theme-background{
    background-color: var(--secThemeColor);
}

.dark-third-theme-background{
    background-color: white;
}

.dark-fourth-theme-background{
    background-color: #1a1a1a;
}

.some-class{
    background-color: magenta;
}

.plzwork{
    color: magenta;
}

.plzwork2{
    color: orange;
}