{% extends 'learning/base.html' %}
{% block content %}
{% load static %}

{% if user.is_superuser %}
<a href="{% url 'createpost' %}"><span><button class="btn btn-primary">Create Post</button></span></a>
{% endif %}

<div class="row text-center">
    <div class="col-12 col-md-8">
        {% for post in object_list %}
        <div class="card rounded shadow border-0 small-margin">
            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">By {{post.author}}{% if user.is_superuser %}
                    <a href="{% url 'editpost' post.slug %}">Edit</a>{%endif%}</h6>
                <p class="card-text">{{post.caption|slice:"255"}}</p>
                <a href="{% url 'individualpost' post.slug %}" class="stretched-link"></a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="col-12 col-md-4">
        <div class="card rounded">
            <div class="card-body">
                <h5 class="card-title">Blog Archive</h5>
                {% for post in object_list %}
                <p class="card-text"></p>
                <a class="course-title" href="{% url 'individualpost' post.slug %}">{{post.title}} | {{post.post_date}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}