{% extends 'learning/base.html' %}
{% block content %}
{% load static %}

{% if user.is_superuser %}
<a href="{% url 'createpost' %}"><span><button class="btn btn-primary">Create Post</button></span></a>
{% endif %}

<div class="row text-center">
    <div class="col-12 col-md-8">
        {% for post in object_list %}
            <a href="{% url 'individualpost' post.slug %}"><h1 class="secondary-theme">{{post.title}}</h1></a>
            <h6 class="mb-2 text-muted">By {{post.author}}</h6>
            <p class="third-theme">{{post.caption|slice:"255"}}</p>
            <a href="{% url 'individualpost' post.slug %}"></a>
            <hr class="third-theme center1">
        {% endfor %}
    </div>
    <div class="col-12 col-md-4 border border-white">
        <h1 class="secondary-theme">Blog Archive</h1>
        {% for post in object_list %}
        <a class="third-theme course-title" href="{% url 'individualpost' post.slug %}">{{post.title}} | {{post.post_date}}</a><br>
        {% endfor %}
    </div>
</div>

{% endblock %}