{% extends 'learning/base.html' %}
{% block content %}

<div class="third-theme">
Our philosophy for language learning is that grammar plays a key role. Once a foundation of
essential grammar dna the most important/common words is established, any learner can set themselves
up for success. We aim to provide a structure so you understand how the language works instead of
mindlessly memorizing a bunch grammar rules and random vocabulary you may never even use in your
own conversations. Boring! We also know that speaking "grammatically correct" is not important for
everyone because everyone has different goals. That's why we give in-depth, easy to understand
material for those who want to work on their grammar, and for those that don't we still offer
interactive learning material based on fundamental vocabulary.
With a strong grammatical and language understanding base that you can obtain from our
interactive lessons and guides, we help you get there. Our goal is to help you understand the most
important grammar and learn the most important/common words in context.
</div>
{% endblock %}