{% extends 'learning/base.html' %}
{% block content %}

<style>
    .navigation-container {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    }


    .numberCircle {
    width: 43.98px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #3c3c3c;
}

.numberCircle:hover{
    background-color: #e0e0e0;
}


</style>

{% if user.is_superuser %}
<button id="ajaxtest2">plzwork</button>
<a href="{% url 'updateCurrentCourse' lan %}">update currentcourse profile current course</a>
{% endif %}


<h1 class="capitalize-first-letter text-center fifth-theme title-text">{{lan}} Course</h1>

<div class="row">
    <div class="col-12 col-md-6">
        <div class="seventh-theme-background sixth-theme-border">
            <a class="fifth-theme" href="guide">
            <h1 class="text-center fifth-theme capitalize-first-letter">Reference</h1></a>
            <h5 class="third-theme text-center mb-4">Free Grammar Guide</h5>
            <h5 class="third-theme text-center mb-4">Broken down by category</h5>
            <h5 class="third-theme text-center mb-4">Learn the most important grammar points</h5>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="seventh-theme-background sixth-theme-border">
            <a class="fifth-theme" href="grammar">
            <h1 class="text-center fifth-theme capitalize-first-letter">Grammar</h1></a>
            <h5 class="third-theme text-center mb-4">Learn grammar and vocabulary in context</h5>
            <h5 class="third-theme text-center mb-4">Start from the most commonly spoken words</h5>
            <h5 class="third-theme text-center mb-4">Interactive exercises</h5>
        </div>
    </div>
    <!--<div class="col-12 col-md-4">
        <div class="seventh-theme-background sixth-theme-border">
            <a href="grammar">
            <h1 class="text-center fifth-theme capitalize-first-letter">Vocabulary</h1></a>
            <p class="third-theme text-center">Learn vocabulary in context with interactive exercise</p>
            <p class="third-theme text-center">Learn vocabulary in context with interactive exercise</p>
            <p class="third-theme text-center">Learn vocabulary in context with interactive exercise</p>
            <p class="third-theme text-center">Learn vocabulary in context with interactive exercise</p>
            <p class="third-theme text-center">Learn vocabulary in context with interactive exercise</p>
        </div>
    </div>-->
</div>

{% if user.is_superuser %}
    <a href="{% url 'createlesson' %}"><span><button class="btn btn-primary">Create Lesson</button></span></a>
{% endif %}

<!--<btn id="ajaxtest3" class="btn fifth-theme-background">Remove Course</btn>-->


<!--<button id="ajaxtest" class="btn fifth-theme-background">Add Course</button>-->
<!--<div class="col d-flex justify-content-center">
    <a class="sticky" id="ajaxtest" href="">
    <div class="card text-center learn-card fourth-theme-background">
        <p class="third-theme" style="font-size: 30px;">Click here to learning {{lan}}!</p>
    </div>
    </a>
</div>-->
{% if not boolDoesHaveLang %}
<div class="d-flex justify-content-center m-5">
    <div class="seventh-theme-background sixth-theme-border" style="padding: 12px;">
        <a id="ajaxtest" href="">
            <p class="fifth-theme" style="font-size: 30px; margin: 0px;">Click here to start learning <span class="capitalize-first-letter">{{lan}}</span>!</p>
        </a>
    </div>
</div>
<!--OTHER BUTTON VERSION
    <div class="col d-flex justify-content-center">
    <a id="ajaxtest" href="">
    <div class="text-center learn-card fourth-theme-background">
        <p class="third-theme" style="font-size: 30px;">Click here to start learning {{lan}}!</p>
    </div>
    </a>
</div>
-->
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>


    $('#ajaxtest2').click(function() {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'updateCurrentCourse' lan %}",
                success: function (response) {
                    //alert("worked");
                },
                error: function (response) {
                    //console.log("didnt work")
                }
            });
            return false;
    });

    $('#ajaxtest3').click(function() {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'removeCourse' lan %}",
                success: function (response) {
                    alert("worked");
                },
                error: function (response) {
                    console.log("didnt work")
                }
            });
            return false;
    });


    $('#ajaxtest').click(function () {
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: "{% url 'addLanToProfile' lan %}",
            success: function (response) {
                //alert("worked");
                location.reload();
            },
            error: function (response) {
                console.log("didnt work")
            }
        });
        return false;
    });
        /*$('#ajaxtest2').click(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'updateCurrentCourse' lan %}",
                success: function (response) {
                    alert("worked");
                },
                error: function (response) {
                    console.log("didnt work")
                }
            });
            return false;
    });*/
</script>
<script>




// progress bar
const numLevelsPerLesson = {{mylist|safe}};
var progressBar = document.getElementsByClassName("progress-bar");
for (let i = 0; i < progressBar.length; i++){
    console.log(numLevelsPerLesson[i]);
    progressBar[i].style.width = (((numLevelsPerLesson[i])/3.0)*100) + "%";
    progressBar[i].innerHTML = progressBar[i].style.width;
    //progressBar[i].innerText = "a";
    progressBar[i].textContent = '\u3000';
}



/*var increment = 0.0;
increment = (((currentIndex+1) / ((gameQuestions.length*1)))*100.0);
progressBar.style.width = widthValue + "%";
progressBar.innerHTML = progressBar.style.width;
*/

/*
function move() {
    var elem = document.getElementById("progress-bar");
    var widthAnim = widthValue;
    var id = setInterval(frame, 10);
    var widthIncrement = increment;

    widthValue = widthAnim + widthIncrement;

    function frame() {
        if (widthAnim >= widthValue || widthValue > 100) {
        clearInterval(id);
        } else {
        widthAnim++;
        elem.style.width = widthAnim + '%';
        elem.innerHTML = widthValue + '%';
        }
    }
}*/






//    $(document).ready(function () {
        $('#ajaxtest').click(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'addLanToProfile' lan %}",
                success: function (response) {
                    alert("worked");
                },
                error: function (response) {
                    console.log("didnt work")
                }
            });
            return false;
        });
//    })
const listTitles = {{ listLessonTitles|safe }};
const lessonTitle = document.getElementsByClassName("lesson-title");
for (let i = 0; i < lessonTitle.length; i++) {
  lessonTitle[i].innerHTML = listTitles[i].split('//')[1];//listTitles[i].substring(3);
}



var first = document.querySelectorAll(".first-level");
var second = document.querySelectorAll(".second-level");
var third = document.querySelectorAll(".third-level");
var levelLabel = document.querySelectorAll(".level-label");

var numLevels = {{ mylist|safe }};
//var nodeList = document.querySelectorAll(".sayin");


/*
//for (i = 0; i < nodeList.length; i++){
for (i = 0; i < numLevels.length; i++){
    //nodeList[i].innerHTML = numLevels[i];

    if (numLevels[i] === 0){
        first[i].style.display = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    
    else if (numLevels[i] === 1){
        //second[i].style.pointerEvents = "none";
        //third[i].style.pointerEvents = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 2){
        //third[i].style.pointerEvents = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 0){
        if (levelLabel[i]){
            levelLabel[i].style.display = "none";
            first[i].style.display = "none";
            second[i].style.display = "none";
            third[i].style.display = "none";
        }
        
    }
}
*/
for (i = 0; i < numLevels.length; i++){
    if (numLevels[i] === 0){
        first[i].style.display = "none";
        first[i].style.pointerEvents = "none";
        first[i].style.filter = "grayscale(100%)";
        second[i].style.display = "none";
        second[i].style.pointerEvents = "none";
        second[i].style.filter = "grayscale(100%)";
        third[i].style.display = "none";
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";        
    }
    else if (numLevels[i] === 1){
        second[i].style.pointerEvents = "none";
        second[i].style.filter = "grayscale(100%)";
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";
    }
    else if (numLevels[i] === 2){
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";
    }
}








</script>




{% endblock %}
