{% extends 'learning/base.html' %}
{% block content %}



<style>
    .navigation-container {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    }


    .numberCircle {
    width: 43.98px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #3c3c3c;
}

.numberCircle:hover{
    background-color: #e0e0e0;
}


</style>

<!--{{thislevels}}kkk
<br><br>
<br><br>
{{test2}}
<br><br>
<br><br>
{{arrayLevels}}
<br><br>
{{arrayLessonTitles}}
<br><br>
{{test}}

sssss
{{numMatches}}
<br>mysayin
{{sayin}}
<br>
<br>ddd<br>
{{sayin2}}
ssssss

<br><br>
mylistbaby
{{mylist}}
<br><br>
-->







<h1 class="capitalize-first-letter text-center fifth-theme title-text">{{lan}}</h1>
<div class="row">    
    <div class="col" style="margin-top: 15px;">
      <div class="row">
        <div class="col-12 col-md-4 sixth-theme-border" style="width: 100%; border-radius: 25px;">
            <a class="capitalize-first-letter text-center" href="{% url 'guide' lan %}"><span><h2 class="fifth-theme" style="margin-top: 8px; margin-bottom: 8px;">Grammar Guide</h2></span></a>
            <hr class="third-theme center1">
            <div class="guide-title" style="padding-left: 38px;">
                {% for p in thisCaseGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Cases</h3>
                    {% endif %}
                    <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                {% for p in thisPronounGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Pronouns</h3>
                    {% endif %}
                    <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                {% for p in thisVerbGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Verbs</h3>
                    {% endif %}
                    <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                {% for p in thisAdjectiveGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Adjectives</h3>
                    {% endif %}
                    <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                {% for p in thisAdverbGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Adverbs</h3>
                    {% endif %}
                    <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                {% for p in thisOtherGuides %}
                    {% if p.orderingID == 1 %}
                        <h3 class="secondary-theme card-title">Other</h3>
                    {% endif %}
                        <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                {% endfor %}
                <br>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 border border-white">
            test2<br>
        test2<br>
        test2<br>
        test2<br>
        test2<br>
        test2<br>
        </div>
      </div>
    </div><div class="col-12 col-md-8">
        {% for lesson in course_lessons %}

            {% if lesson.title == 'polish' %}
                <script>
                    //change navbar to red and white
                </script>
            {% endif %}
            <div class="col d-flex justify-content-center">
                <div class="card text-center learn-card-nohover fourth-theme-background sixth-theme-border">
                    <!--{{lesson.numLevels}}-->

                    <i class="lesson-icon far fa-comments third-theme"></i>
                    <h5 class="secondary-theme lesson-title"></h5>
                    <div class="navigation-container">
                        <a class="first-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 1 %}">1</a>
                        <a class="second-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 2 %}">2</a>
                        <a class="third-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 3 %}">3</a>
                    </div>

                    <div class="course-progress-bar-div">
                        <div class="text-center course-progress-bar progress-bar"></div>
                    </div>

                </div>

            </div>
        {% endfor %}
    </div>
    
  </div>




<div class="row text-center">

    <!--<div class="col-12 col-md-4">
        <div class="card rounded">
            <div class="card-body third-theme-background">
                <a class="capitalize-first-letter" href="{% url 'guide' lan %}"><span><h1 class="secondary-theme card-title">{{lan}} Grammar Guide</h1></span></a>
                <hr class="center1">
                <div class="guide-title">
                    {% for p in thisCaseGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Cases</h3>
                        {% endif %}
                        <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                    {% for p in thisPronounGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Pronouns</h3>
                        {% endif %}
                        <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                    {% for p in thisVerbGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Verbs</h3>
                        {% endif %}
                        <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                    {% for p in thisAdjectiveGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Adjectives</h3>
                        {% endif %}
                        <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                    {% for p in thisAdverbGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Adverbs</h3>
                        {% endif %}
                        <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                    {% for p in thisOtherGuides %}
                        {% if p.orderingID == 1 %}
                            <h3 class="card-title">Other</h3>
                        {% endif %}
                            <a href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>-->

</div>

{% if user.is_superuser %}
    <a href="{% url 'createlesson' %}"><span><button class="btn btn-primary">Create Lesson</button></span></a>
{% endif %}
<button id="ajaxtest">plzwork</button>
<a href="{% url 'addLanToProfile' lan %}">Add course to home page</a>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>




// progress bar
const numLevelsPerLesson = {{mylist|safe}};
var progressBar = document.getElementsByClassName("progress-bar");
for (let i = 0; i < progressBar.length; i++){
    console.log(numLevelsPerLesson[i]);
    progressBar[i].style.width = (((numLevelsPerLesson[i])/3.0)*100) + "%";
    progressBar[i].innerHTML = progressBar[i].style.width;
    //progressBar[i].innerText = "a";
    progressBar[i].textContent = '\u3000';
}



/*var increment = 0.0;
increment = (((currentIndex+1) / ((gameQuestions.length*1)))*100.0);
progressBar.style.width = widthValue + "%";
progressBar.innerHTML = progressBar.style.width;
*/

/*
function move() {
    var elem = document.getElementById("progress-bar");
    var widthAnim = widthValue;
    var id = setInterval(frame, 10);
    var widthIncrement = increment;

    widthValue = widthAnim + widthIncrement;

    function frame() {
        if (widthAnim >= widthValue || widthValue > 100) {
        clearInterval(id);
        } else {
        widthAnim++;
        elem.style.width = widthAnim + '%';
        elem.innerHTML = widthValue + '%';
        }
    }
}*/






//    $(document).ready(function () {
        $('#ajaxtest').click(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'addLanToProfile' lan %}",
                success: function (response) {
                    alert("worked");
                },
                error: function (response) {
                    console.log("didnt work")
                }
            });
            return false;
        });
//    })
const listTitles = {{ listLessonTitles|safe }};
const lessonTitle = document.getElementsByClassName("lesson-title");
for (let i = 0; i < lessonTitle.length; i++) {
  lessonTitle[i].innerHTML = listTitles[i].split('//')[1];//listTitles[i].substring(3);
}



var first = document.querySelectorAll(".first-level");
var second = document.querySelectorAll(".second-level");
var third = document.querySelectorAll(".third-level");
var levelLabel = document.querySelectorAll(".level-label");

var numLevels = {{ mylist|safe }};
//var nodeList = document.querySelectorAll(".sayin");


/*
//for (i = 0; i < nodeList.length; i++){
for (i = 0; i < numLevels.length; i++){
    //nodeList[i].innerHTML = numLevels[i];

    if (numLevels[i] === 0){
        first[i].style.display = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    
    else if (numLevels[i] === 1){
        //second[i].style.pointerEvents = "none";
        //third[i].style.pointerEvents = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 2){
        //third[i].style.pointerEvents = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 0){
        if (levelLabel[i]){
            levelLabel[i].style.display = "none";
            first[i].style.display = "none";
            second[i].style.display = "none";
            third[i].style.display = "none";
        }
        
    }
}
*/
for (i = 0; i < numLevels.length; i++){
    if (numLevels[i] === 0){
        first[i].style.display = "none";
        first[i].style.pointerEvents = "none";
        first[i].style.filter = "grayscale(100%)";
        second[i].style.display = "none";
        second[i].style.pointerEvents = "none";
        second[i].style.filter = "grayscale(100%)";
        third[i].style.display = "none";
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";
    }
    else if (numLevels[i] === 1){
        second[i].style.pointerEvents = "none";
        second[i].style.filter = "grayscale(100%)";
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";
    }
    else if (numLevels[i] === 2){
        third[i].style.pointerEvents = "none";
        third[i].style.filter = "grayscale(100%)";
    }
}








</script>




{% endblock %}
