{% extends 'learning/base.html' %}
{% block content %}
<style>
    .navigation-container {
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
    }


    .numberCircle {
    width: 43.98px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    border: 2px solid #3c3c3c;
}

.numberCircle:hover{
    background-color: #e0e0e0;
}


</style>
<!--
    {% for guide in object_list %}
    {{guide.course}}
    {{guide.guideTitle}}

    <a class="third-theme" href="{% url 'individualguide' guide.course guide.slug  %}"><span><h2>{{guide.guideTitle}}</h2></span></a><br>


    {% autoescape off %}
    {{guide.content}}<br><br>
    {% endautoescape %}
{% endfor %}-->

<h1 class="text-center fifth-theme capitalize-first-letter">{{lan}} Grammar</h1>
<div class="col-12">
    {% if user.is_authenticated %}
        {% for lesson in course_lessons %}
            <div class="col d-flex justify-content-center">
                <div class="card text-center learn-card-nohover seventh-theme-background sixth-theme-border">
                    <!--{{lesson.numLevels}}-->
                    <i class="lesson-icon far fa-comments third-theme"></i>
                    <h5 class="secondary-theme lesson-title"></h5>
                    <div class="navigation-container">
                        <a class="first-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 1 %}">1</a>
                        <a class="second-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 2 %}">2</a>
                        <a class="third-level third-theme level-button b-1" href="{% url 'lesson' lan lesson.slug 3 %}">3</a>
                    </div>
                    <!--<div class="course-progress-bar-div">
                        <div class="text-center course-progress-bar progress-bar"></div>
                    </div>-->
                </div>
            </div>
        {% endfor %}
    {% else %}
    <h1 class="fifth-theme text-center">Login or sign up for a free account to learn grammar</h1>
    {% for lesson in course_lessons %}
        <div class="col d-flex justify-content-center">
            <div class="card text-center learn-card-nohover seventh-theme-background sixth-theme-border">
                <!--{{lesson.numLevels}}-->
                <i class="lesson-icon far fa-comments third-theme"></i>
                <h5 class="secondary-theme lesson-title"></h5>
                <div class="navigation-container">
                    <a class="first-level third-theme level-button b-1">1</a>
                    <a class="second-level third-theme level-button b-1">2</a>
                    <a class="third-level third-theme level-button b-1">3</a>
                </div>
                <!--<div class="course-progress-bar-div">
                    <div class="text-center course-progress-bar progress-bar"></div>
                </div>-->
            </div>
        </div>
    {% endfor %}
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>




// progress bar
const numLevelsPerLesson = {{mylist|safe}};
var progressBar = document.getElementsByClassName("progress-bar");
for (let i = 0; i < progressBar.length; i++){
    console.log(numLevelsPerLesson[i]);
    progressBar[i].style.width = (((numLevelsPerLesson[i])/3.0)*100) + "%";
    progressBar[i].innerHTML = progressBar[i].style.width;
    //progressBar[i].innerText = "a";
    progressBar[i].textContent = '\u3000';
}



/*var increment = 0.0;
increment = (((currentIndex+1) / ((gameQuestions.length*1)))*100.0);
progressBar.style.width = widthValue + "%";
progressBar.innerHTML = progressBar.style.width;
*/

/*
function move() {
    var elem = document.getElementById("progress-bar");
    var widthAnim = widthValue;
    var id = setInterval(frame, 10);
    var widthIncrement = increment;

    widthValue = widthAnim + widthIncrement;

    function frame() {
        if (widthAnim >= widthValue || widthValue > 100) {
        clearInterval(id);
        } else {
        widthAnim++;
        elem.style.width = widthAnim + '%';
        elem.innerHTML = widthValue + '%';
        }
    }
}*/






//    $(document).ready(function () {
        $('#ajaxtest').click(function () {
            $.ajax({
                data: $(this).serialize(),
                type: $(this).attr('method'),
                url: "{% url 'addLanToProfile' lan %}",
                success: function (response) {
                    alert("worked");
                },
                error: function (response) {
                    console.log("didnt work")
                }
            });
            return false;
        });
//    })
const listTitles = {{ listLessonTitles|safe }};
const lessonTitle = document.getElementsByClassName("lesson-title");
for (let i = 0; i < lessonTitle.length; i++) {
  lessonTitle[i].innerHTML = listTitles[i].split('//')[1];//listTitles[i].substring(3);
}
var isAuthenticated = {{isAuthenticated|yesno:"true,false"}};



var first = document.querySelectorAll(".first-level");
var second = document.querySelectorAll(".second-level");
var third = document.querySelectorAll(".third-level");
var levelLabel = document.querySelectorAll(".level-label");

var numLevels = {{ mylist|safe }};
//var nodeList = document.querySelectorAll(".sayin");

var count2 = {{course_lessons.count|safe}}
/*
//for (i = 0; i < nodeList.length; i++){
for (i = 0; i < numLevels.length; i++){
    //nodeList[i].innerHTML = numLevels[i];

    if (numLevels[i] === 0){
        first[i].style.display = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    
    else if (numLevels[i] === 1){
        //second[i].style.pointerEvents = "none";
        //third[i].style.pointerEvents = "none";
        second[i].style.display = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 2){
        //third[i].style.pointerEvents = "none";
        third[i].style.display = "none";
    }
    else if (numLevels[i] === 0){
        if (levelLabel[i]){
            levelLabel[i].style.display = "none";
            first[i].style.display = "none";
            second[i].style.display = "none";
            third[i].style.display = "none";
        }
        
    }
}
*/
console.log(count2);
if (isAuthenticated){
    for (i = 0; i < numLevels.length; i++){
        if (numLevels[i] === 0){
            first[i].style.display = "none";
            first[i].style.pointerEvents = "none";
            first[i].style.filter = "grayscale(100%)";
            second[i].style.display = "none";
            second[i].style.pointerEvents = "none";
            second[i].style.filter = "grayscale(100%)";
            third[i].style.display = "none";
            third[i].style.pointerEvents = "none";
            third[i].style.filter = "grayscale(100%)";        
        }
        else if (numLevels[i] === 1){
            second[i].style.pointerEvents = "none";
            second[i].style.filter = "grayscale(100%)";
            third[i].style.pointerEvents = "none";
            third[i].style.filter = "grayscale(100%)";
        }
        else if (numLevels[i] === 2){
            third[i].style.pointerEvents = "none";
            third[i].style.filter = "grayscale(100%)";
        }
    }
}
else{
    for (i = 0; i < count2; i++){
            first[i].style.pointerEvents = "none";
            first[i].style.filter = "grayscale(100%)";
            second[i].style.pointerEvents = "none";
            second[i].style.filter = "grayscale(100%)";
            third[i].style.pointerEvents = "none";
            third[i].style.filter = "grayscale(100%)";        
    }
}








</script>
{% endblock %}