{% extends 'learning/base.html' %}
{% block content %}

<!--
    {% for guide in object_list %}
    {{guide.course}}
    {{guide.guideTitle}}

    <a class="third-theme" href="{% url 'individualguide' guide.course guide.slug  %}"><span><h2>{{guide.guideTitle}}</h2></span></a><br>


    {% autoescape off %}
    {{guide.content}}<br><br>
    {% endautoescape %}
{% endfor %}-->

<h1 class="fifth-theme capitalize-first-letter text-center">{{lan}} Grammar Guide</h1>
<div class="col-12 col-md-6 sixth-theme-border">
    <div class="guide-title">
        {% for p in thisCaseGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Cases</h3>
            {% endif %}
            <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        {% for p in thisPronounGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Pronouns</h3>
            {% endif %}
            <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        {% for p in thisVerbGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Verbs</h3>
            {% endif %}
            <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        {% for p in thisAdjectiveGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Adjectives</h3>
            {% endif %}
            <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        {% for p in thisAdverbGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Adverbs</h3>
            {% endif %}
            <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        {% for p in thisOtherGuides %}
            {% if p.orderingID == 1 %}
                <h3 class="secondary-theme card-title">Other</h3>
            {% endif %}
                <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
        {% endfor %}
        <br>
    </div>
</div>
{% if user.is_superuser %}
    <a href="{% url 'createguide' lan %}"><span><button class="btn btn-primary">Create Guide</button></span></a>
{% endif %}
{% endblock %}