{% extends 'learning/base.html' %}
{% block content %}
{% load static %}

<nav class="navbar navbar-expand-lg">  
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav-fill w-100 mx-auto">
        {% for course in object_list %}
        <li class="nav-item">
            {% if course.title == "polish" %}
            <img class="img-home" src="{% static 'img/polishflag.jpg' %}">
            {% endif %}
            {% if course.title == "spanish" %}
            <img class="img-home" src="{% static 'img/spanishflag.jpg' %}">
            {% endif %}
            {% if course.title == "russian" %}
            <img class="img-home" src="{% static 'img/russianflag.jpg' %}">
            {% endif %}
            {% if course.title == "italian" %}
            <img class="img-home" src="{% static 'img/italianflag.jpg' %}">
            {% endif %}
          <a class="course-title navbar-languages-text" href="learn/{{course.title}}">{{course.title}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
<div class="text-center">
    <h1>Website name</h1>
    <h2>Learn languages the easy and fun way, focusing on fundamental grammar and the most common words</h2>
    <h4>Tired of the traditional way to learn languages?<br>So are we</h4>
    <hr>
    <h4>What we bring to the table</h4>

    <div class="row text-center">
    <div class="col-12 col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">Fundamental grammar points</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img class="img-fluid" src="{% static 'img/keywords.jpg' %}">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">Most Common Words</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img class="img-fluid" src="{% static 'img/pic1.jpg' %}">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">Gamified Experience</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img class="img-fluid" src="{% static 'img/pic2.jpg' %}">
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title">idk</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <img class="img-fluid" src="{% static 'img/pic3.jpg' %}">
            </div>
        </div>
    </div>
</div>
<button class="btn btn-lg btn-primary">get started</button>
</div>

{% endblock %}