{% extends 'learning/base.html' %}
{% block content %}

<div class="text-center">
    <h1 class="secondary-theme">{{guide.guideTitle}}</h1>
</div>

{% if user.is_superuser %}
    <a href="{% url 'editguide' guide.course guide.slug %}"><span><button class="btn btn-primary">Edit Guide</button></span></a>
{% endif %}

<style>
    h1, h2, h3{
        color: #f8a300;
    }
</style>



<div class="row">
    <div class="col" style="margin-top: 15px; margin: 0px; padding: 0px;">
        <div class="row" style="position: fixed; margin: 0px; padding: 0px;">
          <div class="col-12 col-md-2 sixth-theme-border" style="width: 75%;border-radius: 25px;">
              <hr class="third-theme center1">
              <div class="guide-title">
                  {% for p in thisCaseGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Cases</h3>
                      {% endif %}
                      <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  {% for p in thisPronounGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Pronouns</h3>
                      {% endif %}
                      <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  {% for p in thisVerbGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Verbs</h3>
                      {% endif %}
                      <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  {% for p in thisAdjectiveGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Adjectives</h3>
                      {% endif %}
                      <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  {% for p in thisAdverbGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Adverbs</h3>
                      {% endif %}
                      <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  {% for p in thisOtherGuides %}
                      {% if p.orderingID == 1 %}
                          <h3 class="secondary-theme card-title">Other</h3>
                      {% endif %}
                          <a class="third-theme guide-item" href="{% url 'individualguide' p.course p.slug  %}">{{p.guideTitle}}</a><br>
                  {% endfor %}
                  <br>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-2 border border-white">
              test2<br>

          </div>
        </div>
      </div>
    <div class="col-12 col-md-10">
        <div class="third-theme">
            {% autoescape off %}
            {{guide.content}}
            {% endautoescape %}
        </div>
    </div>
</div>



{% endblock %}
