{% extends 'learning/base.html' %}
{% block content %}
{% load static %}

<h1 class="secondary-theme text-center">Available Languages</h1>

<div class="text-center">
    <h3 class="card-title">Polish</h3>
    <a class="capitalize-first-letter" href="polish"><img class="img-fluid small-margin" src="{% static 'img/polishflag.jpg' %}"></a>
</div>  

<div class="text-center">
    <h3 class="card-title">Spanish</h3>
    <a class="capitalize-first-letter" href="spanish"><img class="img-fluid small-margin" src="{% static 'img/spanishflag.jpg' %}"></a>
</div>

<div class="text-center">
    <h3 class="card-title">Russian</h3>
    <a class="capitalize-first-letter" href="russian"><img class="img-fluid small-margin" src="{% static 'img/russianflag.jpg' %}"></a>
</div> 

<div class="text-center">
    <h3 class="card-title">Italian</h3>
    <a class="capitalize-first-letter" href="italian"><img class="img-fluid small-margin" src="{% static 'img/italianflag.jpg' %}"></a>
</div> 


{% if user.is_superuser %}
    <a href="{% url 'createlesson' %}"><span><button class="btn btn-primary">Create Lesson</button></span></a>
{% endif %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}