{% extends 'learning/base.html' %}
{% block content %}

{% if user.is_superuser %}
    <a href="{% url 'editlesson' lesson.course lesson.slug %}"><span><button class="btn btn-primary">Edit Lesson</button></span></a>
    <a href="{% url 'deletelesson' lesson.course lesson.slug %}"><span><button class="btn btn-primary">Delete Lesson</button></span></a>
{% endif %}


<!--
<div class="third-theme">
    {{lesson.course}}
    {{lesson.lessonTitle}}
    {% for qa in questionanswer %}
        <br>
        Question: {{qa.question}}
        Answer: {{qa.answer}}<br>
    {% endfor %}
</div>
-->
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
    <!--<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">-->

<style>
    h1, h2, h3{
        color: #f8a300;
    }

    #container{
    /*width: 300px;*/
    /*display: block;*/
    /*margin: auto;*/
    }

    #sortable{
    list-style: none;
    }

    #sortable li{
        margin: 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        display: inline-block !important;
        float: left;
    }
</style>

<div class="col-12 third-theme">
{% autoescape off %}
{{lesson.content}}
{% endautoescape %}
</div>


<div>
    <div id="progress-bar" class="text-center rounded" style="width:20%; background-color: #f8a300; color: white;">20%</div>
</div>
<br>
<button onclick="move()">Click Me</button>
<br>


<button id="btn-toggle-game" onclick="toggleGame()">Toggle Game</button>

<div class="col-12 border border-white" id="qa-card">
    <div id="translation-game">
    <div class="text-center">
        {% csrf_token %}
    <form onsubmit="return false">
        <div class="form-group">
            <div><h3>Translate the sentence to English:</h3></div>
            <div style="font-size: 30px;" id="question-label" class="third-theme text-center">            
            </div>
            <!--<button id="question-audio" onclick="playAudio()"><i class="fas fa-microphone"></i></button>-->
            <span id='clickableAwesomeFont'><i onclick="playAudio()" style="font-size: 40px;" class="fas fa-volume-up third-theme"></i></span>
            <textarea id="answer-textarea" class="form-control third-theme fourth-theme-background" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button style="margin: 10px;" class="btn" id="btn-submit" onclick="submitAnswer()">Check</button><br>
            <p id="result"></p>
            <!--<button style="margin: 10px;" onclick="goBack()">Go back</button><br>
            <button style="margin: 10px;" onclick="goForward()">Go forward</button><br>-->
            <label id="result"></label>
        </div>
    </form>
    </div>
</div>

<div id="dragdrop-game">
<h1 id='isRight' class="third-theme"></h1>
    <ul class="third-theme text-center" id="sortable" ></ul>  
    <button style="margin: 10px;" class="btn" id="btn-bet" onclick="bet()">Check</button><br>
</div>
</div>

<br><br>

<div class="col-12 border border-white">
    <div id="keyword-game">
    <div class="text-center">
        {% csrf_token %}
    <form onsubmit="return false">
        <div class="form-group">
            <div><h3 class="text-center">Fill in the blank</h3></div>
            <div style="font-size: 30px;" id="keyword-question-label" class="third-theme text-center">            
            </div>
            <!--<button id="question-audio" onclick="playAudio()"><i class="fas fa-microphone"></i></button>-->
            <i onclick="playAudio()" style="font-size: 40px;" class="fas fa-volume-up third-theme"></i>
            <textarea id="keyword-answer-textarea" class="form-control third-theme fourth-theme-background" rows="3"></textarea>
            <button style="margin: 10px;" class="btn" id="keyword-btn-submit" onclick="keywordSubmitAnswer()">Check</button><br>
            <p id="keyword-result"></p>
            <!--<button style="margin: 10px;" onclick="goBack()">Go back</button><br>
            <button style="margin: 10px;" onclick="goForward()">Go forward</button><br>-->
            <label id="keyword-result-label"></label>
        </div>
    </form>
    </div>
</div>




<div class="card text-center" id="showend-card">
    <h1>Great job! You did it</h1>
    <a class="secondary-theme" href="{% url 'course' lan %}"><p class="secondary-theme">Return back to {{lesson.course}} lessons</p></a>
</div>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>

//keyword game (fill in the blank)
var questionkeywordsarray = {{questionKeywords|safe}};
var keywordBtnSubmit = document.getElementById("keyword-btn-submit");
var keywordResult = document.getElementById("keyword-result");
var keywordQuestionLabel = document.getElementById("keyword-question-label");
var keywordAnswerTextarea = document.getElementById("keyword-answer-textarea");

// translation game
var questionsarray = {{ questions|safe }};
var answersarray = {{ answers|safe }};
var btnSubmit = document.getElementById("btn-submit");
var result = document.getElementById("result");
var questionLabel = document.getElementById("question-label");
var answerTextarea = document.getElementById("answer-textarea");
answerTextarea.addEventListener("keypress", submitOnEnter);
var qaCard = document.getElementById("qa-card");
var showEndCard = document.getElementById("showend-card");
showEndCard.style.display = "none";

var randomNumber = Math.floor(Math.random() * questionsarray.length);
let idle = false;

var gameQuestions = [];

var gameQuestionKeywords = [];

var gameAnswers = [];

var currentIndex = 0;
var currentQuestion = '';
var currentAnswer = '';

for (var q = questionsarray, i = q.length; i--; ) {
    var random = Math.floor(Math.random() * (i + 1));
    var q1 = q.splice(random, 1)[0];
    var qk = questionkeywordsarray.splice(random, 1)[0];
    var a2 = answersarray.splice(random, 1)[0];
    gameQuestions.push(q1);
    gameQuestionKeywords.push(qk);
    gameAnswers.push(a2);
}

//console.log("random keywords: " + gameQuestionKeywords);
//console.log("blank: " + gameQuestions[0].replace(gameQuestionKeywords[0], "______"));
//console.log("blank: " + gameQuestions[1].replace(gameQuestionKeywords[1], "______"));
//console.log("blank: " + gameQuestions[2].replace(gameQuestionKeywords[2], "______"));
//console.log("random questions: " + gameQuestions)
var temp1 = gameQuestionKeywords[currentIndex]
keywordQuestionLabel.innerHTML = gameAnswers[currentIndex] + '<br>' + gameQuestions[currentIndex].replace(gameQuestionKeywords[0], "______");
function keywordSubmitAnswer() {
    if (checkIfQAMatch(keywordAnswerTextarea.value, temp1))
    {
        console.log("correct");
    }
    else{
        console.log("nope");
    }
}
//console.log("sentence with blank: "+ gameQuestions[0].replace(gameQuestionKeywords[random], "_________"))
    

console.log('Both arrays:\n' + gameQuestions + '\n' + gameAnswers)
currentQuestion = gameQuestions[currentIndex];
currentAnswer = gameAnswers[currentIndex];
console.log(currentIndex + ' - ' + currentQuestion + ' - ' + currentAnswer);

questionLabel.innerHTML = currentQuestion;

var audioMessage = new SpeechSynthesisUtterance();
var voices = window.speechSynthesis.getVoices();
audioMessage.voice = voices[10]; // Note: some voices don't support altering params
audioMessage.voiceURI = 'native';
audioMessage.volume = 1; // 0 to 1
audioMessage.rate = 0.8; // 0.1 to 10
audioMessage.pitch = 1; //0 to 2
audioMessage.text = currentQuestion;
audioMessage.lang = 'es';


// add function to remove symbols in testa and testa, such as number or $
// also accept answer if user input is within 2 characters of correct answer
// also accept if user input is within 95% correct ratio of correct answer
function checkIfQAMatch(q, a){
    // remove spaces
    testq = q.replace(/\s+/g, '');
    testa = a.replace(/\s+/g, '');
    
    // to lowercase
    testq = testq.toLowerCase();
    testa = testa.toLowerCase();

    // remove accents/diacritics
    // https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript
    testq = testq.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    testa = testa.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

    // remove special characters
    // https://stackoverflow.com/questions/35803540/how-to-remove-special-characters-from-a-string-using-javascript
    testq = testq.replace(/(?!\w|\s)./g, '');
    testa = testa.replace(/(?!\w|\s)./g, '');

    if (testq === testa) {
        return true;
    }
    else {
        return false;
    }

}

function newRandomQA(){
    currentIndex++;
    currentQuestion = gameQuestions[currentIndex];
    currentAnswer = gameAnswers[currentIndex];
    questionLabel.innerHTML = currentQuestion;
    console.log(currentIndex + ' - ' + currentQuestion + ' - ' + currentAnswer);
    $(answerTextarea).val('');
}

function resetQA() {
    //console.log('finished');
}

function playAudio(){
    audioMessage.text = currentQuestion;
    speechSynthesis.speak(audioMessage);
}

function correctAnswer(){
    idle = true;
    result.innerHTML = "correct";
    $(result).css('color', 'green');
    btnSubmit.innerHTML = "Continue";
    answerTextarea.disabled = true;
    btnSubmit.focus();
}

function wrongAnswerFirst() {
    idle = true;
    result.innerHTML = "incorrect, the correct translation is" + currentAnswer;
    $(result).css('color', 'red');
    btnSubmit.innerHTML = "Continue";
    answerTextarea.disabled = true;
    btnSubmit.focus();
}

function wrongAnswer(){
    gameQuestions.push(gameQuestions.splice(currentIndex, 1)[0]);
    gameAnswers.push(gameAnswers.splice(currentIndex, 1)[0]);
    currentQuestion = gameQuestions[currentIndex];
    currentAnswer = gameAnswers[currentIndex];
    console.log(currentIndex + ' - ' + gameQuestions + ' - ' + gameAnswers);
    questionLabel.innerHTML = currentQuestion;
    console.log(currentIndex + ' - ' + currentQuestion + ' - ' + currentAnswer);
    $(answerTextarea).val('');
}

function playAudio(){
    audioMessage.text = currentQuestion;
    speechSynthesis.speak(audioMessage);
}

function showEndScreen(){
    qaCard.style.display = "none";
    showEndCard.style.display = "block";
}

function submitAnswer(){ 
    if (idle == false) {
        if (checkIfQAMatch(answerTextarea.value, currentAnswer)) {
            if (currentIndex >= gameQuestions.length-1) {
                console.log('finished');
                result.innerHTML = "finished";
                $(result).css('color', 'aqua');
                showEndScreen();
            }
            else {
                correctAnswer();

                dragDropGenerate();
            }   
        }
        else{
            wrongAnswerFirst();

            dragDropGenerate();
        }
    }
    else {
        if (checkIfQAMatch(answerTextarea.value, currentAnswer)) {
            if (currentIndex >= gameQuestions.length-1) {
                console.log('finished');
                result.innerHTML = "finished";
                $(result).css('color', 'aqua');
            }
            else {
                idle = false;
                result.innerHTML = "";
                btnSubmit.innerHTML = "Check";
                newRandomQA();
                answerTextarea.disabled = false;
                answerTextarea.focus();

                dragDropGenerate();
            }  
    }
        else{
            idle = false;
            result.innerHTML = "";
            btnSubmit.innerHTML = "Check";
            wrongAnswer();
            answerTextarea.disabled = false;
            answerTextarea.focus();

            dragDropGenerate();
        }
    }
};

function submitOnEnter(event){
    if(event.which === 13){
        event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
        event.preventDefault(); // Prevents the addition of a new line in the text field (not needed in a lot of cases)
        submitAnswer();
    }
}




/*
DRAG AND DROP GAME
*/
function bet() {
  console.log("answer: " + mycorrectAnswer.join(""))
  var children = $('#sortable').sortable('refreshPositions').children();
  var temp1 = '';
  var temp2 = '';
  $.each(children, function() {
    temp2 = temp1.concat(temp2, $(this).text().trim());
        //console.log($(this).text().trim());

    });
    //console.log(temp2);
    dragDropCompare();
}


const dragDropCompare = (e) =>{
    /*var index1 = randomized.indexOf(dragging);
    var index2 = randomized.indexOf(draggedOver);
    randomized.splice(index1, 1)
    randomized.splice(index2, 0, dragging)

    isRight = randomized.join("") === base.join("") 
    ? 'In Order!': 'Not In Order!'

    renderItems(randomized)
    };*/
    
    
    var children = $('#sortable').sortable('refreshPositions').children();
    var temp1 = '';
    var temp2 = '';
    $.each(children, function() {
        temp2 = temp1.concat(temp2, $(this).text().trim());
        //console.log($(this).text().trim());
    });
    if (temp2 === mycorrectAnswer.join("")){
        console.log("correct");
    }
    else{
        console.log("incorrect");
    }
    };


dragDropGenerate();

function dragDropGenerate() {
var list = document.getElementById('sortable')
var base, randomized, dragging, draggedOver;
var isRight = 'Not In Order!';



    const genRandom = (array) => {
    base = array.slice()
    randomized = array.sort(() => Math.random() - 0.5)

    /* Makes it so that the randomized words are not the actual answer */
    if (randomized.join("") !== base.join("")){
        renderItems(randomized)
    } else {
        genRandom(array)
    }

        //renderItems(randomized)

    }

    
    //$( "#draggable" ).draggable({
      //connectToSortable: "#sortable",
      //helper: "clone",
      //revert: "invalid"
    //});
    //$( "ul, li" ).disableSelection();
  

    const renderItems = (data) =>{
    document.getElementById('isRight').innerText = isRight
    list.innerText = ''
    data.forEach(item=>{
        var node = document.createElement("li");    

        //$(node).addClass("ui-state-default");
        node.classList.add('ui-state-default');

        //node.classList.add('third-theme-border');

        if (questionLabel.classList.contains('dark-third-theme')){
            node.classList.add('dark-third-theme-border');
        }
        else{
            node.classList.add('third-theme-border');
        }

        //node.draggable = true
        //node.style.backgroundColor = item
        //node.style.backgroundColor = node.style.backgroundColor.length > 0  
        //? item : 'lightblue'
        //node.addEventListener('drag', setDragging) 
        //node.addEventListener('dragover', setDraggedOver)
        //node.addEventListener('drop', compare) 
        node.innerText = item
        list.appendChild(node)
    })
    }




    /*const setDraggedOver = (e) => {
      e.preventDefault();
      draggedOver = Number.isNaN(parseInt(e.target.innerText)) ? e.target.innerText : parseInt(e.target.innerText)
    }

    const setDragging = (e) =>{
    dragging = Number.isNaN(parseInt(e.target.innerText)) ? e.target.innerText : parseInt(e.target.innerText)
    }*/

    /*string_to_array = function (currentAnswer) {
        bet =  currentAnswer.trim().split(" ");
        console.log(bet);
        return bet;
    };*/

    //sayin = currentAnswer.split(" ")
    //console.log(sayin);

    mycorrectAnswer = currentAnswer.split(" ")
    
    //console.log(mycorrectAnswer.join(""))
    //mycorrectAnswer = sayin;
    genRandom(currentAnswer.split(" "))
    //genRandom(currentAnswer.split(" "))
    //genRandom(['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'])
    //genRandom(['hello', 'how', 'are', 'you'])
}

///////////////////////////////

</script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    $("#sortable").sortable({
    stop: function(ev, ui) {
        var children = $('#sortable').sortable('refreshPositions').children();
        console.log('Positions: ');
        $.each(children, function() {
            console.log($(this).text().trim());
        });
    },
    //revert: true,
    });
    $("#sortable").disableSelection();
</script>

<script>
    var widthValue = 20;
  
  function move() {
    var elem = document.getElementById("progress-bar");
    var widthAnim = widthValue;
    var id = setInterval(frame, 10);
    var widthIncrement = 10;
  
    widthValue = widthAnim + widthIncrement;
  
    function frame() {
      if (widthAnim >= widthValue || widthValue > 100) {
        clearInterval(id);
      } else {
        widthAnim++;
        elem.style.width = widthAnim + '%';
        elem.innerHTML = widthAnim * 1 + '%';
      }
    }
  }
  </script>

{% endblock %}