{% extends 'learning/base2.html' %}
{% block content %}


<!--
<div class="third-theme">
    {{lesson.course}}
    {{lesson.lessonTitle}}
    {% for qa in questionanswer %}
        <br>
        Question: {{qa.question}}
        Answer: {{qa.answer}}<br>
    {% endfor %}
</div>
-->
<!--<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">-->
    <!--<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">-->

<style>
    h1, h2, h3{
        color: #f8a300;
    }

    #container{
    }

    #sortable{
    list-style: none;
    }

    #sortable li{
        margin: 10px;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        padding: 10px;
        display: inline-block !important;
        float: left;
    }

    .hideli{
        visibility: hidden;
        display: none;
    }
</style>
<!--{{level}}

{{numLevels}}-->


<div class="col-12 third-theme">
{% autoescape off %}
{{lesson.content}}
{% endautoescape %}

{{lesson.richContent|safe}}
</div>

<br>
<!--<button onclick="move()">Click Me</button>-->
<br>

<div id="game-card" class="col-12 text-center sixth-theme-border">

    

    <div style="box-shadow: 0 0.2em rgb(218, 218, 218), 0 0.9em rgba(0, 0, 0, 0); border-radius: 25px; margin: 15px;">
        <div id="progress-bar" class="text-center" style="background-color: #f8a300; color: white; border-radius: 25px;"></div>
    </div>
    {% csrf_token %}
    <form onsubmit="return false">
        <div>
            <h3 id="prompt-label" class="secondary-theme"></h3>
            <h4 id="question-label" class="third-theme text-center"></h4>
            <span id='btn-audio'><i onclick="playAudio()" style="font-size: 40px;" class="fas fa-volume-up third-theme text-center"></i></span>
            <div id="dragdrop-div">    
                <ul id="sortable" class="third-theme list-inline d-flex justify-content-center"></ul>
            </div>
            <div>
                <textarea id="answer-textarea" class="form-control third-theme fourth-theme-background" rows="3"></textarea>
            </div>
            <div>
                <button id="btn-submit" class="btn text-center fifth-theme-background" style="color: white;" onclick="checkUserInput()">Check</button>
            </div>
            <div>
                <p id="result-label"></p>
                <label id="result-label"></label>
            </div>
        </div>
        <div style="font-size: 30px;" id="keyword-question-label" class="third-theme text-center">            
        </div>
    </form>
</div>

<div class="col-12 text-center">
    <div id="showend-card">
        <h1>Great job! You did it</h1>
        <a class="secondary-theme" href="{% url 'course' lan %}"><p class="secondary-theme">Return back to {{lesson.course}} lessons</p></a>
    </div>
</div>

<br>
<br>
{% if user.is_superuser %}
    <a href="{% url 'editlesson' lesson.course lesson.slug %}"><span><button class="btn btn-primary">Edit Lesson</button></span></a>
    <a href="{% url 'deletelesson' lesson.course lesson.slug %}"><span><button class="btn btn-primary">Delete Lesson</button></span></a>
{% endif %}
<button id="ajaxtest2">plzwork</button>
<a href="{% url 'levelCompleted' lan myslug level %}">Add course to home page</a>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script>

$('#ajaxtest2').click(function () {
    $.ajax({
        data: $(this).serialize(),
        type: $(this).attr('method'),
        url: "{% url 'levelCompleted' lan myslug level %}",
        success: function (response) {
            alert("worked");
        },
        error: function (response) {
            console.log("didnt work")
        }
    });
    return false;
});


const currentLevel = {{level}};
const numberOfLevels = {{numLevels}};
//global variables
const questionsarray = {{ questions|safe }};
const answersarray = {{ answers|safe }};
const questionkeywordsarray = {{questionKeywords|safe}};
const gameCard = document.getElementById("game-card");
//var availableGames = ["translation", "dragdrop", "keyword"];
//var availableGames = ["translation", "translation", "keyword", "reverse"];

//var availableGames = ["reverse", "reverse", "reverse", "reverse"];
var availableGames = ["translation", "dragdrop", "keyword", "reverse"];

var arrayRandomGames = [];

const showEndCard = document.getElementById("showend-card");
showEndCard.style.display = "none";

var randomNumber = Math.floor(Math.random() * questionsarray.length);
let idle = false;

var gameQuestions = [];
var gameQuestionKeywords = [];
var gameAnswers = [];
var currentIndex = 0;
var currentQuestion = '';
var currentAnswer = '';

var isFirstQuestion = true;
var isDragDropCorrect = false;

const dragdropDiv = document.getElementById("dragdrop-div");
const promptLabel = document.getElementById("prompt-label");
const btnAudio = document.getElementById("btn-audio");

const btnSubmit = document.getElementById("btn-submit");
const resultLabel = document.getElementById("result-label");
const questionLabel = document.getElementById("question-label");
const answerTextarea = document.getElementById("answer-textarea");
answerTextarea.addEventListener("keypress", enterSubmit);

const keywordQuestionLabel = document.getElementById("keyword-question-label");


// randomize questions, keywords, and answers for entire game
for (var q = questionsarray, i = q.length; i--; ) {
    var random = Math.floor(Math.random() * (i + 1));
    var q1 = q.splice(random, 1)[0];
    var qk = questionkeywordsarray.splice(random, 1)[0];
    var a2 = answersarray.splice(random, 1)[0];
    gameQuestions.push(q1);
    gameQuestionKeywords.push(qk);
    gameAnswers.push(a2);
}


currentQuestion = gameQuestions[currentIndex];
currentAnswer = gameAnswers[currentIndex];

questionLabel.innerHTML = currentQuestion;
var questionLabelFormatA = currentAnswer;
//console.log("format" + questionLabelFormatA);

//var questionSplit = currentQuestion.split("//");
//console.log(questionSplit);

var audioMessage = new SpeechSynthesisUtterance();
var voices = window.speechSynthesis.getVoices();
audioMessage.voice = voices[10]; // Note: some voices don't support altering params
audioMessage.voiceURI = 'native';
audioMessage.volume = 1; // 0 to 1
audioMessage.rate = 0.8; // 0.1 to 10
audioMessage.pitch = 1; //0 to 2
audioMessage.text = currentQuestion.split("//")[0];
//audioMessage.text = currentQuestion;
audioMessage.lang = 'pl';

var hi2 = '';
var hi3 = '';
var hi4 = '';
var hi5 = '';

startGame();

function startGame() {
    for (i = 0; i < gameQuestions.length; i++){
        //let temp = Math.floor(Math.random() * gameQuestions.length);
        let temp = Math.floor(Math.random() * availableGames.length);
        arrayRandomGames[i] = availableGames[temp];
    }


    // if a question has one or two words and is assigned drag drop, change its assigned game to translation
    for (i = 0; i < gameQuestions.length; i++){
        if (gameQuestions[i].split('//')[0].split(" ").length < 3){
            if (arrayRandomGames[i] === availableGames[1]){
                console.log("sayin - " + gameQuestions[i] + " - " + arrayRandomGames[i]);
                arrayRandomGames[i] = availableGames[0];
                console.log("sayin - " + gameQuestions[i] + " - " + arrayRandomGames[i]);
            }
        }
    }
    

    switch (arrayRandomGames[0]) {
        case "translation":
            //console.log("translation");
            showTranslationGame();
            break;
        case "dragdrop":
            //console.log("dragdrop");
            showDragdropGame();
            dragdropGenerate();
            break;
        case "keyword":
            //console.log("keyword");
            showKeywordGame();
            break;
        case "reverse":
            //console.log("reverse");
            showReverseGame();
            break;
    }
    isFirstQuestion = false;
    //console.log(arrayRandomGames);
    //console.log(gameAnswers);
    //console.log(gameQuestions);
    //console.log(("hi hello mm //betff").split('//')[0].split(" ").length);

    
    
}

//translation game functions
// add function to remove symbols in testa and testa, such as number or $
// also accept answer if user input is within 2 characters of correct answer
// also accept if user input is within 95% correct ratio of correct answer
function checkIfQAMatch(q, a){

    // remove spaces
    testq = q.replace(/\s+/g, '');
    testa = a.replace(/\s+/g, '');

    // to lowercase
    testq = testq.toLowerCase();
    testa = testa.toLowerCase();

    // remove accents/diacritics
    // https://stackoverflow.com/questions/990904/remove-accents-diacritics-in-a-string-in-javascript
    testq = testq.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
    testa = testa.normalize("NFD").replace(/[\u0300-\u036f]/g, "");

    ///////
    testq = testq.normalize("NFD").replace(/\u0142/g, "l");
    testa = testa.normalize("NFD").replace(/\u0142/g, "l");
    ///////

    // remove special characters
    // https://stackoverflow.com/questions/35803540/how-to-remove-special-characters-from-a-string-using-javascript
    testq = testq.replace(/(?!\w|\s)./g, '');
    testa = testa.replace(/(?!\w|\s)./g, '');

    // if the game is translation, allow multiple correct answers
    if (arrayRandomGames[currentIndex] === "translation"){ //|| arrayRandomGames[currentIndex] === "keyword"){
        var testarray = currentAnswer.split("//");
        //console.log(testarray);
        //console.log(testarray[0]);
        //console.log(testarray[1]);
        //console.log(testarray[2]);
        //console.log(currentAnswer.split("//").length);
        //console.log("testarray " + testarray);
        //console.log("testarray0 " + testarray[0]);
        //console.log("testarra1 " + testarray[1]);
        //console.log("testq " + testq);
        //console.log("testa " + testa);
        for (i = 0; i < testarray.length; i++){
            let tempv = testarray[i].replace(/\s+/g, '');
            tempv = tempv.toLowerCase();
            tempv = tempv.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            tempv = tempv.replace(/(?!\w|\s)./g, '');

            if (testq === tempv){
                return true;
            }
        }
    }

    else if (arrayRandomGames[currentIndex] === "keyword"){
        console.log(q);
        console.log(gameQuestionKeywords[currentIndex].split("//"));
        var sayinarray = gameQuestionKeywords[currentIndex].split("//");
        for (i = 0; i <= sayinarray.length; i++){
            if (sayinarray[i] === q){
                return true;
            }
        }
    }

    else if (arrayRandomGames[currentIndex] === "reverse"){
        var testarray2 = currentQuestion.split("//");
        //console.log(testarray);
        //console.log(testarray[0]);
        //console.log(testarray[1]);
        //console.log(testarray[2]);
        //console.log(currentAnswer.split("//").length);
        //console.log("testarray " + testarray);
        //console.log("testarray0 " + testarray[0]);
        //console.log("testarra1 " + testarray[1]);
        //console.log("testq " + testq);
        //console.log("testa " + testa);
        for (i = 0; i < testarray2.length; i++){
            let tempv = testarray2[i].replace(/\s+/g, '');
            tempv = tempv.toLowerCase();
            tempv = tempv.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
            tempv = tempv.replace(/(?!\w|\s)./g, '');

            if (testq === tempv){
                return true;
            }
        }
    }


    if (testq === testa) {
        return true;
    }
    else {
        return false;
    }
}

function newRandomQA(){
    currentIndex++;
    currentQuestion = gameQuestions[currentIndex];
    currentAnswer = gameAnswers[currentIndex];
    questionLabel.innerHTML = currentQuestion;
    $(answerTextarea).val('');

    //console.log(currentQuestion);
    //console.log(currentAnswer);
    switch (arrayRandomGames[currentIndex]) {
        case "translation":
            showTranslationGame();
            break;
        case "dragdrop":
            showDragdropGame();
            dragdropGenerate();
            break;
        case "keyword":
            showKeywordGame();
            break;
        case "reverse":
            showReverseGame();
            break;
    }
    console.log(arrayRandomGames[currentIndex] + ' - ' + currentAnswer + ' - ' + currentQuestion);
}

function playAudio(){
    audioMessage.text = currentQuestion.split("//")[0];
    speechSynthesis.speak(audioMessage);
}

function correctAnswer(){
    idle = true;
    resultLabel.innerHTML = "Correct!";
    $(resultLabel).css('color', 'green');
    btnSubmit.innerHTML = "Continue";
    answerTextarea.disabled = true;
    btnSubmit.focus();
    move();
}

function wrongAnswerFirst() {
    idle = true;
    resultLabel.innerHTML = "Incorrect, the correct translation is" + currentAnswer;
    $(resultLabel).css('color', 'red');
    btnSubmit.innerHTML = "Continue";
    answerTextarea.disabled = true;
    btnSubmit.focus();
}

function wrongAnswer(){
    gameQuestions.push(gameQuestions.splice(currentIndex, 1)[0]);
    gameAnswers.push(gameAnswers.splice(currentIndex, 1)[0]);
    gameQuestionKeywords.push(gameQuestionKeywords.splice(currentIndex, 1)[0]);

    arrayRandomGames.push(arrayRandomGames.splice(currentIndex, 1)[0]);

    currentQuestion = gameQuestions[currentIndex];
    currentAnswer = gameAnswers[currentIndex];
    questionLabel.innerHTML = currentQuestion;
    $(answerTextarea).val('');

    //console.log(currentQuestion);
    //console.log(currentAnswer);
    switch (arrayRandomGames[currentIndex]) {
        case "translation":
            showTranslationGame();
            break;
        case "dragdrop":
            showDragdropGame();
            dragdropGenerate();
            break;
        case "keyword":
            showKeywordGame();
            break;
        case "reverse":
            showReverseGame();
            break;
    }
    console.log(arrayRandomGames[currentIndex] + ' - ' + currentAnswer + ' - ' + currentQuestion);
}

/*function playAudio(){
    audioMessage.text = currentQuestion;
    speechSynthesis.speak(audioMessage);
}*/

function checkUserInput() {
    ///
    //var test2 = currentAnswer.split("//");
    //currentAnswer = test2[0];
    ///
    // translation game
    
    if (arrayRandomGames[currentIndex] === availableGames[0]){
        if (idle == false) {
            if (checkIfQAMatch(answerTextarea.value, currentAnswer)) {
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                    showEndScreen();
                }
                else {
                    correctAnswer();
                    keywordGenerate();
                }   
            }
            else{
                wrongAnswerFirst();
                keywordGenerate();
            }
        }
        else {
            if (checkIfQAMatch(answerTextarea.value, currentAnswer)) {
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                }
                else {
                    idle = false;
                    resultLabel.innerHTML = "";
                    btnSubmit.innerHTML = "Check";
                    newRandomQA();
                    answerTextarea.disabled = false;
                    answerTextarea.focus();
                    keywordGenerate();
                }  
        }
            else{
                idle = false;
                resultLabel.innerHTML = "";
                btnSubmit.innerHTML = "Check";
                wrongAnswer();
                answerTextarea.disabled = false;
                answerTextarea.focus();
                keywordGenerate();
            }
        }
    }

    //dragdrop
    else if (arrayRandomGames[currentIndex] === availableGames[1]){
        var children = $('#sortable').sortable('refreshPositions').children();
        var temp1 = '';
        var temp2 = '';
        $.each(children, function() {
        temp2 = temp1.concat(temp2, $(this).text().trim());
        });

        // allow multiple correct answers for drag drop
        for (const element of currentQuestion.split("//")){
            if (temp2 === element.replace(/\s+/g, '')){
                isDragDropCorrect = true;
            }
        }

        if (isDragDropCorrect){//if (temp2 === hi3.replace(/\s+/g, '')){//mycorrectAnswer.join("")){
            if (idle == true){
                newRandomQA();
                keywordGenerate();
                idle = false;
                $("#sortable").sortable({
                    disabled: false
                });
                resultLabel.innerHTML = "";
                //$("#sortable").disableSelection();
                return;
                
            }
            if (idle == false){
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                    showEndScreen();
                }
                else{
                    correctAnswer();
                    idle = true;
                    $("#sortable").sortable({
                        disabled: true
                    });

                    resultLabel.innerHTML = "Correct!";
                    return;
                }
            }
        }
        else{
            if (idle == true){
                wrongAnswer();
                keywordGenerate();
                idle = false;
                $("#sortable").sortable({
                    disabled: false
                });

                resultLabel.innerHTML = "Incorrect";
                return;
                
            }
            if (idle == false){
                $("#sortable").sortable({
                    disabled: true
                });
                idle = true;

                resultLabel.innerHTML = "";
                return;
            }
        }
    }

    //keyword
    else if (arrayRandomGames[currentIndex] === availableGames[2]){
        if (idle == false){
            if (checkIfQAMatch(answerTextarea.value, gameQuestionKeywords[currentIndex])){
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                    showEndScreen();
                }
                else{
                    correctAnswer();
                    keywordGenerate();
                }
            }
            else{
                wrongAnswerFirst();
                keywordGenerate();
            }
        }
        else {
            if (checkIfQAMatch(answerTextarea.value, gameQuestionKeywords[currentIndex])){
                newRandomQA();
                idle = false;
                $(answerTextarea).val('');

                resultLabel.innerHTML = "";
                return;
            }
            else{
                idle = false;
                resultLabel.innerHTML = "";
                btnSubmit.innerHTML = "Check";
                wrongAnswer();
                answerTextarea.disabled = false;
                answerTextarea.focus();
                keywordGenerate();
            }
        }
    }

    // translation reverse
    /* else if (arrayRandomGames[currentIndex] === "reverse"){
        console.log(answerTextarea.value + " - " + currentQuestion);
        if (idle == false){
            if (checkIfQAMatch(answerTextarea.value, currentQuestion)){
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                    showEndScreen();
                }
                else{
                    correctAnswer();
                    keywordGenerate();
                }
            }
            else{
                wrongAnswerFirst();
                keywordGenerate();
            }
        }
        else {
            if (checkIfQAMatch(answerTextarea.value, currentQuestion)){
                newRandomQA();
                idle = false;
                $(answerTextarea).val('');
                return;
            }
            else{
                idle = false;
                resultLabel.innerHTML = "";
                btnSubmit.innerHTML = "Check";
                wrongAnswer();
                answerTextarea.disabled = false;
                answerTextarea.focus();
                keywordGenerate();
            }
        }
    }*/
    

    //translation reverse
    else if (arrayRandomGames[currentIndex] === availableGames[3]){
        //console.log("reverse");
        if (idle == false) {
            if (checkIfQAMatch(answerTextarea.value, currentQuestion)) {
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                    showEndScreen();
                }
                else {
                    correctAnswer();
                    keywordGenerate();
                }   
            }
            else{
                wrongAnswerFirst();
                keywordGenerate();
            }
        }
        else {
            if (checkIfQAMatch(answerTextarea.value, currentQuestion)) {
                if (currentIndex >= gameQuestions.length-1) {
                    resultLabel.innerHTML = "finished";
                    $(resultLabel).css('color', 'aqua');
                }
                else {
                    idle = false;
                    resultLabel.innerHTML = "";
                    btnSubmit.innerHTML = "Check";
                    newRandomQA();
                    answerTextarea.disabled = false;
                    answerTextarea.focus();
                    keywordGenerate();
                }  
        }
            else{
                idle = false;
                resultLabel.innerHTML = "";
                btnSubmit.innerHTML = "Check";
                wrongAnswer();
                answerTextarea.disabled = false;
                answerTextarea.focus();
                keywordGenerate();
            }
        }
    }
}


function keywordGenerate() {

}

function enterSubmit(event){
    if(event.which === 13){
        event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
        event.preventDefault(); // Prevents the addition of a new line in the text field (not needed in a lot of cases)
        checkUserInput();
    }
}

// other functions
function showEndScreen(){
    if (currentLevel < numberOfLevels) {
        $.ajax({
            data: $(this).serialize(),
            type: $(this).attr('method'),
            url: "{% url 'levelCompleted' lan myslug level %}",
            success: function (response) {
                alert("worked");
            },
            error: function (response) {
                console.log("didnt work")
            }
        });
        //return false;
    }
    gameCard.style.display = "none";
    showEndCard.style.display = "block";
    move();
}

function showTranslationGame(){
    promptLabel.innerHTML = "Translate the sentence from Polish to English";
    questionLabel.innerHTML = currentQuestion.split("//")[0];
    answerTextarea.style.display = "block";
    keywordQuestionLabel.style.display = 'none';
    answerTextarea.disabled = false;
    if (!isFirstQuestion){ answerTextarea.focus();}
    const all = document.querySelectorAll('li');
    all.forEach(function(t,i){
        t.classList.add('hideli');
    });
    $('li').hide();
    dragdropDiv.style.display = "none";
}

function showDragdropGame(){
    promptLabel.innerHTML = "Drag and drop the words into the correct order";
    answerTextarea.style.display = "none";
    keywordQuestionLabel.style.display = 'none';
    const all = document.querySelectorAll('li');
    all.forEach(function(t,i){
        t.classList.remove('hideli');
    });
    dragdropDiv.style.display = "block";
    dragdropGenerate();
}

function showKeywordGame(){
    promptLabel.innerHTML = "Fill in the blank";
    //questionLabel.innerHTML = gameAnswers[currentIndex] + '<br>' + gameQuestions[currentIndex].replace(gameQuestionKeywords[currentIndex], "______");

    var sayin = gameAnswers[currentIndex].split("//");
    //var sayin2 = gameQuestionKeywords[currentIndex].split("//");
    console.log(gameQuestions[currentIndex].split("//")[0]);
    console.log(gameQuestionKeywords[currentIndex].split("//"));
    console.log(gameQuestionKeywords[currentIndex].split("//")[0]);
    questionLabel.innerHTML = sayin[0] + '<br>' + gameQuestions[currentIndex].split("//")[0].replace(gameQuestionKeywords[currentIndex].split("//")[0], "______");

    answerTextarea.style.display = "block";
    answerTextarea.disabled = false;
    if (!isFirstQuestion){ answerTextarea.focus();}
    const all = document.querySelectorAll('li');
    all.forEach(function(t,i){
        t.classList.add('hideli');
    });
    $('li').hide();
    dragdropDiv.style.display = "none";

}

function showReverseGame(){
    promptLabel.innerHTML = "Translate the sentence from English to Polish";
    var hello = currentAnswer.split("//");
    questionLabel.innerHTML = hello[0];
    answerTextarea.style.display = "block";
    keywordQuestionLabel.style.display = 'none';
    answerTextarea.disabled = false;
    if (!isFirstQuestion){ answerTextarea.focus();}
    const all = document.querySelectorAll('li');
    all.forEach(function(t,i){
        t.classList.add('hideli');
    });
    $('li').hide();
    dragdropDiv.style.display = "none";
}

function dragdropGenerate() {
    var list = document.getElementById('sortable')
    var base, randomized, dragging, draggedOver;
    const genRandom = (array) => {
        //console.log("array " + array[0]);//.split(","));
    
    base = array.slice()
    randomized = array.sort(() => Math.random() - 0.5)

    /* Makes it so that the randomized words are not the actual answer */
    /*if (randomized.join("") !== base.join("")){
        renderItems(randomized)
    } else {
        genRandom(array)
    }*/

    [array[0], array[1]] = [array[1], array[0]];
    base = array.slice()
    randomized = array.sort(() => Math.random() - 0.5)
    renderItems(randomized)

    }
    const renderItems = (data) =>{
    list.innerText = ''
    data.forEach(item=>{
        var node = document.createElement("li");    
        node.classList.add('ui-state-default');

        if (questionLabel.classList.contains('dark-third-theme')){
            node.classList.add('dark-third-theme-border');
        }
        else{
            node.classList.add('third-theme-border');
        }
        node.classList.add('list-inline-item');


        node.innerText = item
        list.appendChild(node)
    })
    }

    //hi2 = currentAnswer.split("//");
    //hi3 = hi2[0];
    //hi4 = hi3.split(" ");
    //genRandom(hi4);
    //questionLabel.innerHTML = currentQuestion;
    hi2 = currentQuestion.split("//");
    hi3 = hi2[0];
    hi4 = hi3.split(" ");
    genRandom(hi4);
    

    hi5 = currentAnswer.split("//");
    hi5 = hi5[0];
    questionLabel.innerHTML = hi5;
}


// progress bar
var widthValue = 0.0;
const progressBar = document.getElementById("progress-bar");
var increment = 0.0;
increment = (((currentIndex+1) / ((gameQuestions.length*1)))*100.0);
progressBar.style.width = widthValue + "%";
progressBar.innerHTML = progressBar.style.width;


function move() {
    var elem = document.getElementById("progress-bar");
    var widthAnim = widthValue;
    var id = setInterval(frame, 10);
    var widthIncrement = increment;

    widthValue = widthAnim + widthIncrement;

    function frame() {
        if (widthAnim >= widthValue || widthValue > 100) {
        clearInterval(id);
        } else {
        widthAnim++;
        elem.style.width = widthAnim + '%';
        elem.innerHTML = widthValue + '%';
        }
    }
}

</script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script>
    $("#sortable").sortable({
    stop: function(ev, ui) {
        var children = $('#sortable').sortable('refreshPositions').children();
        //$.each(children, function() {
        //    //console.log($(this).text().trim());
        //});
    },
    });
    $("#sortable").disableSelection();
</script>

{% endblock %}