<h3>Content</h3>
<div class="guide-top-text">
   <ul>
      <li><a href="#usage">Usage</a></li>
      <li>
         <a href="#noun-singular">Singular Nouns</a>
         <ul>
            <li><a href="#noun-singular-masculine">Masculine</a></li>
            <li><a href="#noun-singular-feminine">Feminine</a></li>
            <li><a href="#noun-singular-neuter">Neuter</a></li>
         </ul>
      </li>
      <li>
         <a href="#adj-singular">Singular Adjectives</a>
         <ul>
            <li><a href="#adj-singular-masculine">Masculine</a></li>
            <li><a href="#adj-singular-feminine">Feminine</a></li>
            <li><a href="#adj-singular-neuter">Neuter</a></li>
         </ul>
      </li>
      <li>
         <a href="#noun-plural">Plural Nouns</a>
         <ul>
            <li><a href="#noun-plural-masculine-pers">Masculine Personal</a></li>
            <li><a href="#noun-plural-masculine-nonpers">Masculine Non-Personal</a></li>
            <li><a href="#noun-plural-feminine">Feminine</a></li>
            <li><a href="#noun-plural-neuter">Neuter</a></li>
         </ul>
      </li>
      <li>
         <a href="#adj-plural">Plural Adjectives</a>
         <ul>
            <li><a href="#adj-plural-masculine-pers">Masculine Personal</a></li>
            <li><a href="#adj-plural-masculine-nonpers">Masculine Non-Personal</a></li>
            <li><a href="#adj-plural-feminine">Feminine</a></li>
            <li><a href="#adj-plural-neuter">Neuter</a></li>
         </ul>
      </li>
      <li><a href="#declension-tables">Declension Tables</a></li>
   </ul>
</div>
<p>The nominative is the first of the 7 cases.It's main function is as the subject of the sentence.
It answers the questions:
- <strong>kto?</strong> (who?)
- <strong>co?</strong> (what?)</p>

<h2><a id="usage"></a> Nominative Case Usage</h2>
<h4>1. Subject of the sentence</h4>
<p><strong>Kto</strong> jest wysoki? <strong>On</strong> jest wysoki.
(<strong>Who</strong> is tall? <strong>He</strong> is tall)
<strong>Co</strong> jest nudne? <strong>Szkoła</strong> jest nudna.
(<strong>What</strong> is boring? <strong>School</strong> is boring)</p>

<h4>2. In constructions with “to jest”</h4>
<p>"To jest" in English translates to the verb "be".
<strong>Mój kuzyn</strong> to jest <strong>mój przyjaciel</strong>.
(<strong>My cousin</strong> is <strong>my friend</strong>)
To jest <strong>mój syn</strong>.
(This is <strong>my son</strong>)</p>
<h4>3. With the verb "być" to express an </h4>
<p>Note: When "być" (be) expresses another noun, the instrumental case is used. But when only an adjective is expressed, the nominative case is used.
<strong>Moja żona</strong> jest <strong>miła</strong>.
<strong>(My wife</strong> is <strong>nice</strong>)
Moja żona jest miłą osobą.
(My wife is a nice  person)
Since "jest" describes another noun, the instrumental case is used above.</p>

<h2>Nominative Case Declension</h2>
<h3><a id="noun-singular"></a>Nominative Singular Nouns</h3>
<p>These are the dictionary forms of nouns. All nouns in their respective cases decline based of off this form.</p>
<h4><a id="noun-singular-masculine"></a>Masculine</h4>
<p>- Mostly end with a <b>consonant</b>. If a noun ends with an <b>a</b> but denotes a male person, the noun is still masculine.
sy<strong>n </strong>(son)
samochó<strong>d </strong>(car)
mężczyzn<strong>a </strong>(man)</p>
<h4><a id="noun-singular-feminine"></a>Feminine</h4>

<p>
- Mostly end with <b>a</b>. Some end with a <b>consonant</b>. Many abstract nouns that end in <strong>-ść</strong> are also feminine.
córk<strong>a</strong> (daughter)
piłk<strong>a</strong> (ball)
no<strong>c</strong> (night)
wolno<strong>ść</strong> (freedom)
długo<strong>ść</strong> (length)</p>
<h4><a id="noun-singular-neuter"></a>Neuter</h4>
<p>- End with <b>e</b>, <b>o</b>, <b>ę</b>, or foreign words ending with  <strong>-</strong><b>um</b>.
pol<strong>e</strong> (field)
okn<strong>o</strong> (window)
imi<strong>ę</strong> (name)
muze<strong>um</strong> (museum)
</p>

<h3><a id="adj-singular"></a>Nominative Singular Adjectives</h3>
<p>The endings of adjectives are based on the <strong>gender</strong>, <strong>case</strong>, and <strong>number</strong> (singular or plural) of the nouns that they are modifying. Their dictionary forms are in the masculine gender, ending in either y or i.
</p>
<h4><a id="adj-singular-masculine"></a>Masculine</h4>
<p>- Adjectives that modify a masculine, singular noun in the nominative case and end with a hard consonant, except k or g, or hardened consonant receive <strong>y</strong> ending.
duży (big)               Dom jest <strong>duży</strong> (The house is <strong>big</strong>).
- Adjectives that modify a masculine, singular noun in the nominative case and end with a soft consonant, or k or g receive <strong>i</strong> ending.
tani (cheap)            Samochód jest <strong>tani</strong> (The car is <strong>cheap</strong>).
</p>
<h4><a id="adj-singular-feminine"></a>Feminine</h4>
<p>- Adjectives that modify a feminine, singular noun in the nominative case end receive <b>a</b> ending.
duży (big)               Piłka jest <strong>duża</strong> (The ball is <strong>big</strong>).
drogi (expensive)    Szkoła jest <strong>droga</strong> (School is <strong>expensive</strong>).
<h4><a id="adj-singular-neuter"></a>Neuter</h4>
<span>- Adjectives that modify a neuter, singular noun in the nominative case end receive <b>e</b> ending.
<span>duży (big)                Pole jest <strong>duże</strong> (The field is <strong>big</strong>).
<span>tani (cheap)              Auto nie jest <strong>tanie</strong> (The car is not <strong>cheap</strong>).
</p>
<h3><a id="noun-plural"></a>Nominative Plural Nouns</h3>
<p>Masculine nouns in the nominative plural are divided into masculine personal and masculine non-personal declensions.
</p>
<h4><a id="noun-plural-masculine-pers"></a>Masculine Personal</h4>
<p>- Masculine personal nouns that end with a hard consonant except k, g, and r receive <b>i</b> ending. The hard consonant softens.
studen<strong>t</strong> (student) → studen<strong>ci</strong> (students)
kuzy<strong>n</strong> (cousin) → kuzyn<strong>i</strong> (cousins)
- Masculine personal nouns that end with k, g, r, or sometimes c receive <b>y</b> ending. K, g, and r soften.
dokto<strong>r</strong> (doctor) → dokto<strong>rzy</strong> (doctors)
Angli<strong>k</strong> (Englishman) → Anglic<strong>y</strong> (Englishmen)
chłopie<strong>c</strong> (boy) → chłopc<strong>y</strong> (boys) (*notice the removal of the "ie")
kole<strong>g</strong>a (colleague) → kole<strong>dzy</strong> (colleagues)
- Masculine personal nouns that end with a hardened or soft consonant receive <b>e</b> ending.
rodzi<strong>c</strong> (parent) → rodzic<strong>e</strong> (parents)
nauczycie<strong>l</strong> (teacher) → nauczyciel<strong>e</strong> (teachers)
leka<strong>rz</strong> (doctor) → lekarz<strong>e</strong> (doctors)
- Masculine personal nouns that end with -anin receive <b>-anie</b> ending. These verbs usually represent nationalities.
Rosj<strong>anin</strong> (Russian) → Rosj<strong>anie</strong> (Russians)
Ameryk<strong>anin</strong> (American) → Ameryk<strong>anie</strong> (Americans)
- Some masculine personal nouns receive <b>-owie</b> ending. There is no completely strict rule for which nouns have this ending, but it is usually for nouns referring to family relations and titles.
syn → syn<strong>owie</strong> (sons)
pan → pan<strong>owie</strong> (men)
ojciec → ojc<strong>owie</strong> (men) (*notice the stem change)
oficer → oficer<strong>owie</strong> (officers)
- Some masculine personal nouns are irregular:
brat → bra<strong>cia</strong> (brothers)
człowiek → <strong>ludzie</strong> (humans)
</p>
<h4><a id="noun-plural-masculine-nonpers"></a>Masculine Non-Personal</h4>
<p>- Masculine non-personal nouns that end with a hard consonant except k and g receive <b>y</b> ending.
do<strong>m</strong> (home) → dom<strong>y</strong> (houses)
kompute<strong>r</strong> (computer) → komputer<strong>y</strong> (computers)
reki<strong>n</strong> (shark) → rekin<strong>y</strong> (sharks)
- Masculine non-personal nouns that end with a k or g receive <b>i</b> ending.
pocią<strong>g</strong> (train) → pociąg<strong>i</strong> (trains)
ołówe<strong>k</strong> (pencil) → ołówk<strong>i</strong> (pencils) (*notice the removal of e)
guzi<strong>k</strong> (button) → guzik<strong>i</strong> (buttons)
- Masculine non-personal nouns that end with a hardened or soft consonant receive <b>e</b> ending.
fote<strong>l</strong> (armchair) → fotel<strong>e</strong> (armchairs)
pale<strong>c</strong> (finger) → palc<strong>e</strong> (fingers) (*notice the removal of e)
mie<strong>cz</strong> (sword) → miecz<strong>e</strong> (swords)
</p>
<h4><a id="noun-plural-feminine"></a>Feminine</h4>
<p>- Feminine nouns that end with a hard consonant except k and g receive <b>y</b> ending.
kobie<strong>t</strong>a (woman) → kobiet<strong>y</strong> (women)
dziewczy<strong>n</strong>a (girl) → dziewczyn<strong>y</strong> (girls)
oso<strong>b</strong>a (person) → osob<strong>y</strong> (people)
- Feminine nouns that end with a k or g, and most with -ść, receive <b>i</b> ending. Some other feminine nouns ending in a consonant also receive <strong>i</strong>.
pił<strong>k</strong>a (ball) → piłk<strong>i</strong> (balls)
war<strong>g</strong>a (lip) → warg<strong>i</strong> (lips)
cór<strong>k</strong>a (daughter) → córk<strong>i</strong> (daughters)
możliwo<strong>ść</strong> (possibility) → możliwośc<strong>i</strong> (possibilities)
wię<strong>ź</strong> (bond) → więz<strong>i</strong> (bonds)
- Feminine nouns that end with a hardened or soft consonant receive <b>e</b> ending.
lekc<strong>j</strong>a (lesson) → lekcj<strong>e</strong> (lessons)
no<strong>c</strong> (night) → noc<strong>e</strong> (nights)
smy<strong>cz</strong> (leash) → smycz<strong>e</strong>
</p>
<h4><a id="noun-plural-neuter"></a>Neuter</h4>
<p>- All neuter nominative plural nouns receive <b>a</b> ending. Some have stem changes.
okno (window) → okn<strong>a</strong> (windows)
pole (field) → pol<strong>a</strong> (fields)
biuro (office) → biur<strong>a</strong> (offices)
- Neuter nouns ending with ę receive either <b>-ta</b> or <b>-ona</b> endings.
imi<strong>ę</strong> (name) → imi<strong>ona</strong> (names)
zwierz<strong>ę</strong> (animal) → zwierzę<strong>ta</strong> (animals)
- Neuter nouns ending with um remove the um and replace it with <strong>a</strong> ending.
muze<strong>um</strong> (museum) → muze<strong>a</strong> (museums)
lice<strong>um</strong> (high school) → lice<strong>a</strong> (high schools)
</p>
<h3><a id="adj-plural"></a>Nominative Plural Adjectives</h3>
<p>Masculine plural nominative adjectives are also divided into masculine personal and masculine non-personal declension.
</p>
<h4><a id="adj-plural-masculine-pers"></a>Masculine Personal</h4>
<p>- Masculine personal adjectives ending with a k, g, r, c, cz, or dz receive <b>y</b> ending. K, g, and r soften.
Mój syn jest <b>wysoki</b> (My son is <strong>tal</strong>l) → Moi synowie są <b>wysocy</b> (My sons are <strong>tall</strong>).
- Masculine personal adjectives ending with another consonant receive <b>i</b> ending. Sz changes into si, and ż changes into zi.
<b>Nasz</b> kolega jest <b>duży</b> (<strong>Our</strong> colleague is <strong>big</strong>) → <b>Nasi</b> koledzy są <b>duzi</b> (<strong>Our</strong> colleagues are <strong>big</strong>).
</p>
<h4><a id="adj-plural-masculine-nonpers" =": #000000; text-decoration: underline;"></a>Masculine Non-Personal</h4>
<p>- Masculine non-personal adjectives receive <b>e </b>ending.
Dom jest <strong>duży</strong> (The house is <strong>big</strong>) → Domy są <strong>duże</strong> (The houses are <strong>big</strong>).
Samochód jest <strong>tani</strong> (The car is <strong>cheap</strong>) → Samochody są <strong>tanie</strong> (The cars are <strong>cheap</strong>).
</p>
<h4><a id="adj-plural-feminine" =": #000000; text-decoration: underline;"></a>Feminine</h4>
<p>- Feminine plural adjectives receive <b>e</b> ending.
Piłka jest <strong>duża</strong> (The ball is <strong>big</strong>) → Piłki są <strong>duże</strong> (The balls are <strong>big).</strong>
</p>
<h4><a id="adj-plural-neuter"></a>Neuter</h4>
<p>- Neuter plural adjectives receive <b>e</b> ending.
Pole jest <strong>duże</strong> (The field is <strong>big</strong>) → Pola są <strong>duże</strong> (The fields are <strong>big</strong>).
</p>

<a id="declension-tables"></a><h2 class="text-center">Declension Tables</h2>
<h3 class="text-center">Singular Nouns</h3>
<table style="width: 50%;" border="2">
   <tbody>
      <tr>
         <td>Gender</td>
         <td>Stem Ending</td>
      </tr>
      <tr>
         <td>Masculine</td>
         <td>consonant, a</td>
      </tr>
      <tr>
         <td>Feminine</td>
         <td>a, ść, consonant</td>
      </tr>
      <tr>
         <td>Neuter</td>
         <td>ę, e, o, um</td>
      </tr>
   </tbody>
</table>
<h3 class="text-center">Singular Adjectives</h3>
<table style="width: 50%;" border="2">
   <tbody>
      <tr style="height: 21px;">
         <td style="height: 21px;">Gender</td>
         <td style="height: 21px;">Stem Ending</td>
         <td style="height: 21px;">Add Ending</td>
      </tr>
      <tr style="height: 21px;">
         <td style="height: 21px;">Masculine</td>
         <td style="height: 21px;">any</td>
         <td style="height: 21px;">i, y</td>
      </tr>
      <tr style="height: 21.5px;">
         <td style="height: 21.5px;">Feminine</td>
         <td style="height: 21.5px;">any</td>
         <td style="height: 21.5px;">a</td>
      </tr>
      <tr style="height: 21px;">
         <td style="height: 21px;">Neuter</td>
         <td style="height: 21px;">any</td>
         <td style="height: 21px;">e</td>
      </tr>
   </tbody>
</table>
<p></p>
<h3 class="text-center">Plural Nouns</h3>
<table style="width: 50%;" border="2">
   <tbody>
      <tr style="height: 23px;">
         <td style="height: 23px;">Gender</td>
         <td style="height: 23px;">Stem Ending</td>
         <td style="height: 23px;">Add Ending</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-bottom: none; height: 23px;">Masculine Personal</td>
         <td style="height: 23px;">hard consonant except k, g, and r</td>
         <td style="height: 23px;">'i</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">k, g, r, and c</td>
         <td style="height: 23px;">'y</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">hardened or soft consonant</td>
         <td style="height: 23px;">e</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">anin</td>
         <td style="height: 23px;">anie</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; height: 23px;"></td>
         <td style="height: 23px;"></td>
         <td style="height: 23px;">owie</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-bottom: none; height: 23px;">Masculine Non-Personal</td>
         <td style="height: 23px;">hard consonant except k and g</td>
         <td style="height: 23px;">y</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">k and g</td>
         <td style="height: 23px;">i</td>
      </tr>
      <tr style="height: 23.5px;">
         <td style="height: 23.5px;"></td>
         <td style="border-top: none; border-bottom: none; height: 23.5px;">hardened or soft consonant</td>
         <td style="height: 23.5px;">e</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-bottom: none; height: 23px;">Feminine</td>
         <td style="height: 23px;">hard consonant except k and g</td>
         <td style="height: 23px;">y</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">k and g</td>
         <td style="height: 23px;">i</td>
      </tr>
      <tr style="height: 23px;">
         <td style="border-top: none; border-bottom: none; height: 23px;"></td>
         <td style="height: 23px;">hardened or soft consonant</td>
         <td style="height: 23px;">e</td>
      </tr>
      <tr style="height: 23px;">
         <td style="height: 23px;">Neuter</td>
         <td style="height: 23px;">any</td>
         <td style="height: 23px;">a</td>
      </tr>
   </tbody>
</table>
<h3 class="text-center">Plural Adjectives</h3>
<table style="width: 50%;" border="2">
   <tbody>
      <tr>
         <td>Gender</td>
         <td>Stem Ending</td>
         <td>Add Ending</td>
      </tr>
      <tr>
         <td style="border-bottom: none;">Masculine Personal</td>
         <td>k, g, r, c, cz, dz</td>
         <td>'y</td>
      </tr>
      <tr>
         <td style="border-top: none; border-bottom: none;"></td>
         <td>other consonants</td>
         <td>i</td>
      </tr>
      <tr>
         <td>Masculine Non-Personal, Feminine, Neuter</td>
         <td>any</td>
         <td>e</td>
      </tr>
   </tbody>
</table>