{% load static %}
<!doctype html>
<html lang="en" data-theme="light">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>Language learning</title>
</head>
<body class="d-flex flex-column min-vh-100">
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark mb-0">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link" href={% url 'welcome' %}><img class="img-home" src="{% static 'img/polishflag.jpg' %}">Website Icon</a>
              </li>
            </ul>
            <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                  <a class="nav-link active navbar-text" data-bs-toggle="dropdown" href="#"
                    role="button" aria-expanded="false">Welcome, {{request.user.profile.user}}</a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li> <a style="font-size: 26px;" class="dropdown-item" href="{% url 'learn' %}">Learn</a></li>
                    <li> <a style="font-size: 26px;" class="dropdown-item" href="{% url 'profile' request.user.profile.slug %}">Profile</a></li>
                    <li> <a style="font-size: 26px;" class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  </ul>
              </li>
              {% else %}
              <li><a style="font-size: 26px; margin-right: 25px;" class="nav-item nav-link" href={% url 'mylogin' %}>Login</a></li>
              <li><a style="font-size: 26px; margin-right: 25px;" class="nav-item nav-link" href={% url 'register' %}>Sign up for free</a></li>
              {% endif %}
              </li>
            </ul>
        </div>
      </div>
  </nav>
  <div class="container">
  <div class="text-center">
      <h1 class="primary-theme" style="padding-top: 50px; padding-bottom: 25px; margin: 0; ">Website name</h1>
      <h2 class="welcome">Learn languages the easy and fun way, focusing on fundamental grammar and the most common words</h2>
      <h4 class="welcome">Tired of the traditional way to learn languages?<br>So are we</h4>
      <hr class="welcome">
      <h2 class="primary-theme welcome">Here's what we bring to the table...</h4>
      <div class="row text-center">
        <div class="col-12 col-md-6">
            <div class="card border-0">
              <div class="card-body">
                  <h5 class="card-title">Fundamental grammar points</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <img class="img-fluid" src="{% static 'img/keywords.jpg' %}">
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-0">
              <div class="card-body">
                  <h5 class="card-title">Most Common Words</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <img class="img-fluid" src="{% static 'img/pic1.jpg' %}">
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-0">
              <div class="card-body">
                  <h5 class="card-title">Gamified Experience</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <img class="img-fluid" src="{% static 'img/pic2.jpg' %}">
              </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card border-0">
              <div class="card-body">
                  <h5 class="card-title">idk</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <img class="img-fluid" src="{% static 'img/pic3.jpg' %}">
              </div>
            </div>
        </div>
      </div>
      Currently Available Languages
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav nav-fill w-100 mx-auto">
              {% for course in object_list %}
              <li class="nav-item">
                  {% if course.title == "polish" %}
                  <img class="img-home" src="{% static 'img/polishflag.jpg' %}">
                  {% endif %}
                  {% if course.title == "spanish" %}
                  <img class="img-home" src="{% static 'img/spanishflag.jpg' %}">
                  {% endif %}
                  {% if course.title == "russian" %}
                  <img class="img-home" src="{% static 'img/russianflag.jpg' %}">
                  {% endif %}
                  {% if course.title == "italian" %}
                  <img class="img-home" src="{% static 'img/italianflag.jpg' %}">
                  {% endif %}
                  <a class="course-title navbar-languages-text" href="learn/{{course.title}}">{{course.title}}</a>
              </li>
              {% endfor %}
            </ul>
        </div>
      </nav>
      {% if user.is_authenticated %}
      {% else %}
      <a href={% url 'register' %}><button class="btn btn-lg btn-primary">Get started for free!</button></a>
      {% endif %}
  </div>
  </div>
  <footer class="text-center mt-auto">
      <div class="container">
        <section class="">
            <h1 class="secondary-theme m-4">website name</h1>
        </section>
        <section class="mb-4">
            <p>
              Learn languages the fun way
            </p>
        </section>
        <section class="">
            <div class="row">
              <div class="col-12">
                  <h5 class="text-uppercase">Links</h5>
                  <ul class="list-unstyled mb-0">
                    <li>
                        <a href="{% url 'about' %}"><span>About</span></a>
                    </li>
                    <li>
                        <a href="{% url 'contact' %}"><span>Contact</span></a>
                    </li>
                  </ul>
              </div>
            </div>
        </section>
      </div>
      <div id="fotter-copyright" class="text-center">
        © 2022 Copyright:
        <a class="text-white" href="https://website.com/">website.com</a>
      </div>
  </footer>
  <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  <script>let theme = localStorage.getItem('data-theme');
    const changeThemeToDark = () => {
        document.documentElement.setAttribute("data-theme", "dark")//set theme to light
    }
    const changeThemeToDark = () => {
        document.documentElement.setAttribute("data-theme", "light"); //set theme to light
    }
    
    const checkbox = document.getElementById("switch");
    // Apply retrived them to the website
    checkbox.addEventListener('change', () => {
        let theme = localStorage.getItem('data-theme'); // Retrieve saved them from local storage
        if (theme ==='dark'){
            changeThemeToLight()
        }else{
            changeThemeToDark()
        }   
    });
    
    </script>
</body>
</html>